#addd{
    padding:7px;
    color:black;
    background:#dab1dd;
    bottom: 0;
    right: 0;
    cursor:pointer;
    border-style: groove;
    display: block;
    position: absolute;
}
#addd:hover{
    cursor: pointer;
    background:#eec1f2;
}
.remove{
    padding: 7px;
    color:blueviolet;
    right:0;
    background:yellowgreen;
    cursor: pointer;
    position: absolute;
}
#item{
    margin:0.3%;
    width:31%;
    float:left;
    padding-left: 10px;
    background-color: #f0e0eb;
    min-height: 50%;
    position: relative;
   
}

.cartItm{
    display: block;
}
.itemcontainer{
    width: 73%;
}
.cartcontainer{
   margin-left: 98%;
   width: 39%;
   padding: 0.1%;
   height: 100%;
   background-color:#ccddff;
   color: black;
   position: relative;
  
}
.size{
    width: 40px;
    height: 30px;
    margin: 3%;
}
.size:hover{
    
}
.img-container{
    min-width: 20%;
    height: 15%; 
    display: inline-block;
}